<div id="weather-icon-container">
	<%= link_to(image_tag("weather-widget-icon.png", width: '60px', height: '60px'), "#", id: "weather-widget-icon") %>
</div>

<div id="sketch-pad-icon-container">
	<%= link_to(image_tag("sketchpad-icon.png", width: '60px', height: '60px'), "#", id: "sketchpad-widget-icon") %>
</div>

<div id="theme-icon-container">
	<%= link_to(image_tag("theme-icon.png", width: '60px', height: '60px'), "#", id: "theme-widget-icon") %>
</div>

<div id="pong-icon-container">
	<%= link_to(image_tag("pong.png", width: '60px', height: '60px'), "#", id: "pong-widget-icon") %>
</div>

<div id="us-capitals-icon-container">
	<%= link_to(image_tag("us-capitals.png", width: '60px', height: '60px'), "#", id: "us-capitals-widget-icon") %>
</div>